# Ignore Terraform working directories
primary/.terraform/
dr/.terraform/

# Ignore environment files
.env

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore errored state files
dr/errored.tfstate
dr/errored.tfstate.backup

# Ignore Terraform variable files
primary/terraform.tfvars
dr/terraform.tfvars