./primary/.terraform/
primary/.terraform/

./dr/.terraform/
dr/.terraform/

.env
/.env

.terraform.tfstate
.terraform.tfstate.backup

.dr/errored.tfstate
.dr/errored.tfstate.backup

.primary/terraform.tfvars
.dr/terraform.tfvars

.dr/errored.tfstate